
<section id="needed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Need</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 15px; line-height: 1.2em;">One question my survey asked was: <strong><span style="color: var(--primary-color);">Describe any resources you wish you had while learning to code</span></strong>. Our needs are presented below, in the order of how often we mentioned each resource type.</h3>
                </div>
            </div>
            <div class="row text-center">
                <table class="resources-table">
                    <tr>
                    <th>Resource</th>
                    <th>Number of times mentioned</th>
                    </tr>
                    <tr>
                    <td style="color: var(--primary-color); font-weight: bold;">Mentorship</td>
                    <td>21</td>
                    </tr>
                    <tr>
                    <td>Coding Peer Group in-real-life</td>
                    <td>15</td>
                    </tr>
                    <tr>
                    <td>Customized Learning Path for getting started & making progress</td>
                    <td>10</td>
                    </tr>
                    <tr>
                    <td>Better Technology/Internet Access</td>
                    <td>5</td>
                    </tr>
                    <tr>
                    <td>Finances for Paid Learning Resources</td>
                    <td>4</td>
                    </tr>
                    <tr>
                    <td>Job-hunt/Interviewing Support</td>
                    <td>4</td>
                    </tr>
                    <tr>
                    <td>More Time For Learning</td>
                    <td>4</td>
                    </tr>
                    <tr>
                    <td>Living Stipend while learning-to-code</td>
                    <td>3</td>
                    </tr>
                    <tr>
                    <td>More Help from school instructors</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td>Paid Internship/Apprenticeship</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td>Practical, based-on-real-job project ideas</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td>Schorlarship support</td>
                    <td>2</td>
                    </tr>
                    <tr>
                    <td>Family Support</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>Greater Representation In Tech</td>
                    <td>1</td>
                    </tr>
                    <tr>
                    <td>On-the-job Training</td>
                    <td>1</td>
                    </tr>
                  </table>
            </div>
        </div>
    </section>