<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Infographic: Women Learning To Code 2019</title>
    <!-- Search Engine -->
    <meta name="description" content="An infographic representing the shared experiences of women preparing for careers in coding.">
    <meta name="image" content="{{ site.baseurl }}/img/meta-image.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Infographic: Women Learning To Code 2019">
    <meta itemprop="description" content="An infographic representing the shared experiences of women preparing for careers in coding.">
    <meta itemprop="image" content="{{ site.baseurl }}/img/meta-image.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Infographic: Women Learning To Code 2019">
    <meta name="twitter:description" content="An infographic representing the shared experiences of women preparing for careers in coding.">
    <meta name="twitter:site" content="@AritAmana">
    <meta name="twitter:creator" content="@AritAmana">
    <meta name="twitter:image:src" content="{{ site.baseurl }}/img/meta-image.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Infographic: Women Learning To Code 2019">
    <meta name="og:description" content="An infographic representing the shared experiences of women preparing for careers in coding.">
    <meta name="og:image" content="{{ site.baseurl }}/img/meta-image.jpg">
    <meta name="og:url" content="https://womenlearningtocode.ga">
    <meta name="og:site_name" content="Infographic: Women Learning To Code 2019">
    <meta name="fb:admins" content="1334149870">
    <meta name="og:type" content="website">
</head>
