<!-- Services Section -->
<section id="purpose">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Why</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" style="padding-top: 5%;">
                    <p>
                        I was inspired to conduct this survey after noticing that there wasn't much data out there on women learning to code <strong><u>before</u></strong> landing a coding job. The infographic below presents my survey results.
                        <br><br>
                        I hope this information both comforts and inspires all women who are working towards a career in coding! Please reach out to me on Twitter or LinkedIn with any questions or suggestions. <i class='fa fa-heart'></i>
                    </p>
                </div>
                <div class="col-md-4 text-center" style="margin-top: 20px;">
                    <img src="{{ site.baseurl }}/img/arit.jpeg" width='300px' style="border-radius: 15px;" />
                    <h3>Arit Amana</h3>
                    <ul class="social-buttons">
                        <li>
                            <a href="https://twitter.com/AritAmana">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/AritAmana">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://arit.dev">
                                <i class="fa fa-link fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>