<!-- Comments -->
    <section id="comments" class="comments-bkgd">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading text-light">Share This Infographic With Your Network!</h3>
                    <ul class="social-buttons">
                        <li>
                            <a href="https://twitter.com/intent/tweet?url=https://womenlearningtocode.ga&text=&via=" target="_blank" style="margin-right: 30px;">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://womenlearningtocode.ga&title=" target="_blank" style="margin-right: 30px;">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer.php?u=https://womenlearningtocode.ga" target="_blank"  style="margin-right: 30px;">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>